{% extends "base.html" %}
{% load static %}
{% block context %}



<div class="max-w-[100%] mx-auto h-[auto] py-2
 flex flex-col mt-[3rem]  justify-center items-center">  

       <!-- News Bar Section -->   
        <div class="w-[100%] flex h-auto 
        justify-between bg-[red] text-[white] p-5 mb-[0.5rem]"  >  
            <p class=" w-[auto] md:w-[auto] lg:w-[8%]">Breaking News:</p>
            <marquee direction="right" class=" w-[auto] md:w-[84%] lg:w-[92%] flex bg-[red] ">
            
            <p class="flex">
                {% for item in breakingnews %}
                 <a href="{% url 'website:newpage' slug=item.slug %}">. {{item.brief_message}}</a>
                 {% endfor %}
            </p>
           
        </marquee>
         </div>  
    <!-- News Bar Section -->



        <!-- Featured Articles Section -->  
        <div class="flex w-[100%] px-5 justify-between flex-wrap jusify-around bg-[black]">  
            <!-- Main Article -->  
            <div class="flex w-[100%] md:w-[65%] max-h-[570px] relative mb-3 md:mb-0">  
                <img src="./default.svg" alt="Woman in fashionable outfit" class="w-full h-[100%] object-cover">  
                <div class="absolute bottom-0 left-0 right-0 bg-[#EF4444] text-white p-5">  
                    <h2 class="text-xl font-bold">WordPress News Magazine Charts the Most Fashionable New York Women in 2018</h2>  
                </div>  
            </div>  

            <!-- Side Articles -->  
            <div class="flex w-[100%] md:w-[34%]  flex-col justify-between items-center ">

                <div class="bg-white w-[100%] h-[49%]  ">  
                    <img src="./default.svg" alt="Person surfing" class="w-full h-[150px] object-cover">  
                    <h3 class="text-lg font-semibold mt-3 p-3">The Most Anticipated Hotel Openings in Strasbourg this Summer</h3>  
                </div>  


                <div class="bg-white w-[100%] h-[49%] ">  
                    <img src="./default.svg" alt="Person surfing" class="w-full h-[150px] object-cover">  
                    <h3 class="text-lg font-semibold mt-3 p-3">The Most Anticipated Hotel Openings in Strasbourg this Summer</h3>  
                </div>

                
            </div>  
        </div>  
    </div>  

<!-- Section2  -->  
<section class="flex flex-wrap w-[100%] h-[auto] mt-3 dir px-5" data-aos="fade-up">  
        
        <!-- Slider Section -->  
        <div class="w-[100%] md:w-[45%] lg:w-[30%] flex jusify-center px-5 p-5" style="direction:ltr">
         
            {% include "website/includes/slidebar.html" %}

            
        </div>
        
<!-- News -->
         <div class="w-[100%] md:w-[55%] lg:w-[70%]
           grid  gap-2 mb-5 lg:grid-cols-3 md:grid-cols-2 grid-cols-1" style="direction:ltr">  
             
            
        {% for new in news %}
        <a href="{% url 'website:newpage' slug=new.slug %}"><div class="border border-gray-300 p-5 ">  
                  <img src="{{ new.image.url }}" alt="Cristiano Ronaldo" class="w-full h-auto mb-2" />  
                  <h3 class="text-lg font-semibold mb-2">{{new.title}}</h3>  
                  <p>{{new.brief_message}}</p>  
         </div></a>  
 {% endfor %}

        


       


</div>  




</section> 

{% include 'contact.html' %}






{% endblock context %}