{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="max-w-[100%] mx-auto h-[auto] py-2
 flex flex-col mt-[3rem]  justify-center items-center">  

       <!-- News Bar Section -->   
        <div style="direction:rtl" class="w-[100%] flex h-auto 
        justify-between bg-[black] text-[white] p-5 mb-[0.2rem]"  >  
            <p class="w-[20%] md:w-[auto] lg:w-[8%] font-['yekanBakhtBold']">خبر فوری:</p>
            <marquee direction="right" class=" w-[auto] md:w-[84%] lg:w-[92%] flex  font-['yekanBakht']">
            
            <p class="flex">
                {% for item in breakingnews %}
                 <a href="{% url 'website:newpage' slug=item.slug %}">. {{item.brief_message}}</a>
                 {% endfor %}
            </p>
           
        </marquee>
         </div>  
    <!-- News Bar Section -->

        <!-- Featured Articles Section -->  
        <div class="flex w-[100%] px-5 justify-between flex-wrap jusify-around bg-[black]">  
            <!-- Main Article -->  
            <div class="flex w-[100%] md:w-[65%] max-h-[570px] relative mb-3 md:mb-0">  
                <img src="./default.svg" id="firstSlider" 
                alt="Woman in fashionable outfit" class="min-w-full h-[100%] 
                object-cover
                
                ">  
                <div class="absolute bg-[#000000c7]  bottom-0 left-0 
                right-0 text-[white] p-5" style="direction:rtl">  
                    <a href="google.com" class="text-xl 
                    rtl font-bold font-[yekanBakhtBold]" id="firstSliderMessage">WordPress News Magazine Charts the Most Fashionable New York Women in 2018</a>  
                </div>  
            </div>  

            <!-- Side Articles -->  
            <div class="flex w-[100%] md:w-[34%]  flex-col justify-around items-center ">

                <div class=" w-[100%] h-[48%] relative">  
                    <img src="./default.svg" id="seccondSlider"
                     alt="Person surfing" class="
                    w-[100%] h-[100%] object-contain">  
                    <a href="google.com" id="seccondSliderMessage" class="
                    text-lg font-semibold mt-3 p-3
                     absolute bottom-0 w-[100%] bg-[#000000c7] text-[white] flex justify-center font-[yekanBakhtBold] item-center h-[auto] ">The Most Anticipated Hotel Openings in Strasbourg this Summer</a>  
                </div>  


                <div class=" w-[100%] h-[48%] relative">  
                    <img src="./default.svg" id="thirdSlider" alt="Person surfing" 
                    class="w-[100%] h-[100%] object-contain">  
                    <a id="thirdSliderMessage" href="google.com"
                     style="background-color: #000000c7"
                    class="absolute bottom-0  w-[100%] flex justify-center 
                    item-center h-[auto] text-lg font-semibold mt-3 p-3 text-[white] font-[yekanBakhtBold]">The Most Anticipated Hotel Openings in Strasbourg this Summer</a>  
                </div>

                
            </div>  
        </div>  
    </div>  

<!-- Section2  -->  
<section class="flex flex-wrap w-[100%] h-[auto] mt-3 dir px-5" data-aos="fade-up">  
        
        <!-- Slider Section -->  
        <div class="w-[100%] md:w-[45%]
         lg:w-[30%] flex jusify-center px-5" style="direction:rtl">
         
            {% include "website/includes/slidebar.html" %}

            
        </div>
        
<!-- News -->
         <div class="w-[100%] md:w-[55%] lg:w-[70%]
           grid  gap-2 mb-5 lg:grid-cols-3 md:grid-cols-3 grid-cols-1" style="direction:rtl">  
             
            
        {% for new in news %}
        <a href="{% url 'website:newpage' slug=new.slug %}">
            <div class="border border-gray-300 ">  
                  <img src="{{ new.image.url }}" alt="Cristiano Ronaldo" class="w-[100%] object-cover h-[250px] mb-2" />  
                  <h3 class=" px-5 text-lg font-semibold font-[yekanBakhtBold]">{{new.title|truncatechars:20}}</h3>  
                  <p class=" pt-2 pb-4 px-5">{{new.brief_message| truncatechars:20}}</p>  
         </div></a>  
 {% endfor %}

        


       


</div>  



</section> 

{% include 'contact.html' %}

{% comment %} <p id="testman">
    nodeeeeeeeee
    </p> {% endcomment %}

<script type="text/javascript">

    let firstSlider = document.getElementById("firstSlider");  
    let seccondSlider = document.getElementById("seccondSlider");  
    let thirdSlider = document.getElementById("thirdSlider");  

    let firstSliderMessage = document.getElementById("firstSliderMessage");  
    let seccondSliderMessage = document.getElementById("seccondSliderMessage");  
    let thirdSliderMessage = document.getElementById("thirdSliderMessage");  


    let breakingSlider = {{ breakingSlider|safe }};  
    let developingSlider = {{ developingSlider|safe }};  
    let exclusiveSlider = {{ exclusiveSlider|safe }};  

    console.log(breakingSlider);  
    console.log(developingSlider);  
    console.log(exclusiveSlider)
    
    // Initial setup for sliders  
    firstSlider.src = breakingSlider[0].imagesrc;  
    firstSliderMessage.innerHTML = breakingSlider[0].message;  
    firstSliderMessage.href = `new/${breakingSlider[0].link}`;  

    seccondSlider.src = developingSlider[0].imagesrc;  
    seccondSliderMessage.innerHTML = developingSlider[0].message;  
    seccondSliderMessage.href = `new/${developingSlider[0].link}`;   

    
    thirdSlider.src = exclusiveSlider[0].imagesrc;  
    thirdSliderMessage.innerHTML = exclusiveSlider[0].message;  
    thirdSliderMessage.href = `new/${exclusiveSlider[0].link}`;   
    

    // Counter Slider Part
    let countBreaking = 0; 
    let countDeveloping = 0;
    let countExclusiveSlider=0

    function firstSliderFunc() {  
        countBreaking += 1;  
        if (countBreaking >= breakingSlider.length) {  
            countBreaking = 0;  
        }   
        firstSlider.src = breakingSlider[countBreaking].imagesrc;  
        firstSliderMessage.innerHTML = breakingSlider[countBreaking].message;  
        firstSliderMessage.href = `new/${breakingSlider[countBreaking].link}`;  
    }  
    
    function seccondSliderFunc() {  
        countDeveloping += 1;  
        if (countDeveloping >= developingSlider.length) {  
            countDeveloping = 0;  
        }   
        seccondSlider.src = developingSlider[countDeveloping].imagesrc;  
        seccondSliderMessage.innerHTML = developingSlider[countDeveloping].message;  
        seccondSliderMessage.href = `new/${developingSlider[countDeveloping].link}`;  
    }  


    function thirdSliderFunc() {  
        countExclusiveSlider += 1;  
        if (countExclusiveSlider >= exclusiveSlider.length) {  
            countExclusiveSlider = 0;  
        }   
        thirdSlider.src = exclusiveSlider[countExclusiveSlider].imagesrc;  
        thirdSliderMessage.innerHTML = exclusiveSlider[countExclusiveSlider].message;  
        thirdSliderMessage.href = `new/${exclusiveSlider[countExclusiveSlider].link}`;  
    }  

    
    // Create a single function that calls both slider functions  
    function updateSliders() {  
        firstSliderFunc();  
        seccondSliderFunc();  
        thirdSliderFunc();
    }  
    
    // Call updateSliders every 5 seconds  
    setInterval(updateSliders, 5000);
</script>

{% endblock content %}
