{% extends "base.html" %}
{% load static %}
{% block context %}
{% load website_tags %}


   <!---->
 


    <section class="container mx-auto  py-8  mt-[3rem] ">
      <div class="grid grid-cols-1 lg:grid-cols-3 p-4 md:grid-cols-2 gap-8 relative">
        <div class="md:col-span-2 ">
          
        
          {% if searchNews %}
          
            <h2 class="text-3xl font-bold mb-2 ">Search Result</h2> <br/>
            {% comment %} <h2 class="text-1xl  mb-4 px-5">in this categories</h2>  {% endcomment %}
            <div
              class="w-[100%] md:w-[100%] lg:w-[33.33] 
               grid  gap-2 mb-5 md:grid-cols-3 lg:grid-cols-4 grid-cols-1"
            >
         
            {% for item in searchNews %}
              <a href="{% url 'website:newpage' slug=item.slug %}" class="flex">
                <div href="google.com" class="border border-gray-300 p-5">
                <img
                  src="{{item.image.url}}"
                  
                  class="w-full h-auto mb-2"
                />
                <h3 class="text-lg font-semibold mb-2">
                  {{item.title|truncatewords:20}}
                </h3>
                <p>{{item.description|truncatewords:10}}</p>
              </div></a>
        {% endfor %}</div>
        
          {% else %}
            <article>
            <img
              src="{{new.image.url}}"
              alt="Article image"
              class="w-full h-[50vh] object-cover mb-4"
            />
            <h2 class="text-3xl font-bold mb-2">
              {{new.title}}
            </h2>
            <p class="text-gray-600 mb-4">
              {{new.description}}
            </p>
            <div class="flex items-center text-sm text-gray-500">
              <img
                src="https://via.placeholder.com/40"
                alt="Author"
                class="w-10 h-10 rounded-full mr-2"
              />
              <span>{{new.journalist.username}}</span>
              <span class="mx-2">•</span>
              <span>{{new.updated_at}}</span>
            
            </div>
          </article>

          {% endif %}


        </div>

        <div>

       {% include "website/includes/slidebar.html" %}
         
          <section>
            <h3 class="text-xl font-bold mb-4">Most Popular</h3>
            <ul class="space-y-4">
              <li>
                <span class="text-3xl font-bold text-gray-300 mr-4">01</span>
                <a href="#" class="font-semibold hover:underline"
                  >Bradley Cooper's "Twin" Causes Madness At Sundance Film
                  Festival Opening</a
                >
              </li>
              <!-- Add more popular items here -->
            </ul>
          </section>
        </div>
      </div>
    </section>

<!---->
{% if searchNews|length == 0 %}  

{% if similarNews %}  
<div class="flex flex-col w-[100%]  p-3" data-aos="fade-up" data-aos-duration="500">  
    <h2 class="text-3xl font-bold mb-2 px-5">Similar news</h2>   
    <h2 class="text-1xl  mb-4 px-5">in these categories</h2>   
    <div  
      class="w-[100%] md:w-[100%] lg:w-[100%] p-5  
       grid  gap-2 mb-5 md:grid-cols-3 lg:grid-cols-4 grid-cols-1"  
    >  
   
    {% for item in similarNews %}  
      <a href="{% url 'website:newpage' slug=item.slug %}">  
        <div class="border border-gray-300 p-5">  
        <img  
          src="{{ item.image.url }}"  
          class="w-full h-auto mb-2"  
        />  
        <h3 class="text-lg font-semibold mb-2">  
          {{ item.title|truncatewords:20 }}  
        </h3>  
        <p>{{ item.description|truncatewords:10 }}</p>  
      </div>  
      </a>  
    {% endfor %}  
    </div>  
</div>  
{% endif %}  

{% else %}  

<p>s</p>  

{% endif %}






</div>

{% include 'contact.html' %}

    
{% endblock context %}