.dir {  
    direction: rtl; /* Default to left-to-right */  
}  
html {
    scroll-behavior: smooth;
  }
/* Media query for screens 400px wide or smaller */  
@media screen and (max-width: 400px) {  
    .dir {  
        direction: ltr; /* Change to right-to-left */  
    }  
}  