

@font-face {
    font-family: 'yekanBakhtBold';
    src: url("../fonts/persian/YekanBakhBold.otf");
  }
  

  @font-face {
    font-family: 'yekanBakht';
    src: url("../fonts/persian/YekanBakhRegular.otf");
  }
  