{% load static %}

<div class="w-[100%] h-[auto] py-[2rem]  bg-[black] font-[yekanBakht] flex flex-col justify-center items-center">

<!--Title section-->
<div class="w-[100%] h-[auto] relative flex text-[white] justify-center items-center">
<p class="text-[35px] md:text-[50px]">اعضا تیم توسعه</p>  
<span class="bg-red-500 w-[150px] h-[4px] rounded absolute bottom-[-1.3rem]"></span>  
</div>


<!--Card section-->
<div class="md:w-[90%] w-[100%] h-[auto]  mt-[15rem] flex flex-wrap">

<!--Grid-->
<div class="w-[100%] md:w-[50%] lg:w-[33%] md:mt-[0] lg:mt-[0] mt-[3rem]  h-[430px]  flex justify-center items-center">
    <!--Card-->
    <div class="w-[80%] md:w-[75%] h-[65%] md:h-[50%] lg:h-[89%] py-2 border-[2px] flex justify-end flex-col items-center relative">
        
        <!--Image-->
        <img src="https://media.licdn.com/dms/image/v2/D4E03AQEvplHrcoviPw/profile-displayphoto-shrink_400_400/profile-displayphoto-shrink_400_400/0/1685708111351?e=2147483647&v=beta&t=gObt8DFUwLJ8PfqQOzVkzuWJbA6Kbx-FmJX2mqIsbxc" class="w-[auto] md:w-[90%] md:h-[175px] lg:h-[330px] h-[270px] absolute top-[-10rem] md:top-[-7rem]  object-cover" />
        
        <!--Icons-->
        <div class="w-[50%] flex justify-around items-center absolute top-[8rem] md:top-[5rem]  lg:top-[14.5rem]">
            <a href="https://www.linkedin.com/in/ali-zamanian-ba2798247/" class="md:w-[39px] md:h-[39px] lg:w-[45px] lg:h-[45px]    w-[37px] h-[37px] rounded-[100%] bg-[white] flex justify-center items-center"><img src="{% static 'linkedin.jpg' %}" class=" w-[auto] h-[45%] md:h-[50%]"/></a>
            <a href="https://t.me/alizamaniandev" class="md:w-[39px] md:h-[39px] lg:w-[45px] lg:h-[45px]    w-[37px] h-[37px] rounded-[100%] bg-[white] flex justify-center items-center"><img src="{% static 'telegram.jpg' %}" class=" w-[auto] h-[45%] md:h-[50%]"/></a>
            <a href="mailto:your-email@gmail.com" class="md:w-[39px] md:h-[39px] lg:w-[45px] lg:h-[45px]    w-[37px] h-[37px] rounded-[100%] bg-[white] flex justify-center items-center"><img src="{% static 'gmail.jpg' %}" class=" w-[auto] h-[45%] md:h-[50%]"/></a>
        </div>

        <div class='w-[100%] h-[44%] md:h-[23%]  py-1 md:py-[3rem] flex justify-center flex-col text-center'>
           <p class="font-[yekanBakhtBold] text-[31px] text-[white] md:text-[27px]">علی زمانیان</p>
           <p class="font-[yekanBakht] mt-1 text-[19px] text-[white] md:text-[15px]"> Full-Stack Developer </p>
        </div>

    </div>

</div>

<!--Grid-->
<div class="w-[100%] md:w-[50%] lg:w-[33%] md:mt-[0] lg:mt-[0] mt-[3rem]  h-[430px]  flex justify-center items-center">
    <!--Card-->
    <div class="w-[80%] md:w-[75%] h-[65%] md:h-[50%] lg:h-[89%] py-2 border-[2px] flex justify-end flex-col items-center relative">
        
        <!--Image-->
        <img src="https://media.licdn.com/dms/image/v2/D4D03AQGXduCV7_kN9A/profile-displayphoto-shrink_400_400/profile-displayphoto-shrink_400_400/0/1730546056913?e=1735776000&v=beta&t=7ftr4oTRjSZP9Rz0L_mDnqASQeEFVG4slsscrSFotV8" class="w-[auto] md:w-[90%] md:h-[175px] lg:h-[330px] h-[270px] absolute top-[-10rem] md:top-[-7rem]  object-cover" />
        
        <!--Icons-->
        <div class="w-[50%] flex justify-around items-center absolute top-[8rem] md:top-[5rem]  lg:top-[14.5rem]">
            <a href="https://www.linkedin.com/in/fatemeh-seyed-shokri-8a4622336/" class="md:w-[39px] md:h-[39px] lg:w-[45px] lg:h-[45px]    w-[37px] h-[37px] rounded-[100%] bg-[white] flex justify-center items-center"><img src="{% static 'linkedin.jpg' %}" class=" w-[auto] h-[45%] md:h-[50%]"/></a>
            <a href="https://t.me/Fatemeh_SeyedSokri" class="md:w-[39px] md:h-[39px] lg:w-[45px] lg:h-[45px]    w-[37px] h-[37px] rounded-[100%] bg-[white] flex justify-center items-center"><img src="{% static 'telegram.jpg' %}" class=" w-[auto] h-[45%] md:h-[50%]"/></a>
            <a href="mailto:fatemeh.seyedshokri7@gmail.com" class="md:w-[39px] md:h-[39px] lg:w-[45px] lg:h-[45px]    w-[37px] h-[37px] rounded-[100%] bg-[white] flex justify-center items-center"><img src="{% static 'gmail.jpg' %}" class=" w-[auto] h-[45%] md:h-[50%]"/></a>
        </div>

        <div class='w-[100%] h-[44%] md:h-[23%]  py-1 md:py-[3rem] flex justify-center flex-col text-center'>
           <p class="font-[yekanBakhtBold] text-[31px] text-[white] md:text-[27px]">فاطمه سید شکری</p>
           <p class="font-[yekanBakht] mt-1 text-[19px] text-[white] md:text-[15px]"> Ui / Ux Designer  </p>
        </div>

    </div>

</div>

<!--Grid-->
<div class="w-[100%] md:w-[50%] lg:w-[33%] md:mt-[0] lg:mt-[0] mt-[3rem]  h-[430px] md:w-[90%]  flex justify-center items-center">
    <!--Card-->
    <div class="w-[80%] md:w-[75%] h-[65%] md:h-[50%] lg:h-[89%] py-2 border-[2px] flex justify-end flex-col items-center relative">
        
        <!--Image-->
        <img src="https://media.licdn.com/dms/image/v2/D4E03AQHxST9HzlNk5A/profile-displayphoto-shrink_800_800/profile-displayphoto-shrink_800_800/0/1721688894677?e=1735776000&v=beta&t=tqMpngJSYVXEZSgFfU7b7-QYoVW_bxYUUa14gBFwNg4" class="w-[auto] md:h-[175px] lg:h-[330px] h-[270px] absolute top-[-10rem] md:top-[-7rem]  object-cover" />
        
        <!--Icons-->
        <div class="w-[50%] flex justify-around items-center absolute top-[8rem] md:top-[5rem]  lg:top-[14.5rem]">
            <a href="https://www.linkedin.com/in/soheila-seyedentezar-b55b44316/" class="md:w-[39px] md:h-[39px] lg:w-[45px] lg:h-[45px]    w-[37px] h-[37px] rounded-[100%] bg-[white] flex justify-center items-center"><img src="{% static 'linkedin.jpg' %}" class=" w-[auto] h-[45%] md:h-[50%]"/></a>
            <a href="https://t.me/@soheila_se" class="md:w-[39px] md:h-[39px] lg:w-[45px] lg:h-[45px]    w-[37px] h-[37px] rounded-[100%] bg-[white] flex justify-center items-center"><img src="{% static 'telegram.jpg' %}" class=" w-[auto] h-[45%] md:h-[50%]"/></a>
            <a href="mailto:seyedentezars@gmail.com" class="md:w-[39px] md:h-[39px] lg:w-[45px] lg:h-[45px]    w-[37px] h-[37px] rounded-[100%] bg-[white] flex justify-center items-center"><img src="{% static 'gmail.jpg' %}" class=" w-[auto] h-[45%] md:h-[50%]"/></a>
        </div>

        <div class='w-[100%] h-[44%] md:h-[23%]  py-1 md:py-[3rem] flex justify-center flex-col text-center'>
           <p class="font-[yekanBakhtBold] text-[31px] text-[white] md:text-[27px]">سهیلا سید انتظار</p>
           <p class="font-[yekanBakht] mt-1 text-[19px] text-[white] md:text-[15px]"> Frontend Developer </p>
        </div>

    </div>

</div>

</div>


</div>