{% load static %}

<div class="w-[100%] h-[auto] py-[2rem]  bg-[black] font-[yekanBakht] flex flex-col justify-center items-center">

<!--Title section-->
<div class="w-[100%] h-[auto] relative flex text-[white] justify-center items-center">
<p class="text-[60px]">اعضا تیم توسعه</p>  
<span class="bg-red-500 w-[150px] h-[4px] rounded absolute bottom-[-1.3rem]"></span>  
</div>


<!--Card section-->
<div class="md:w-[90%] w-[100%] h-[auto]  mt-[15rem] flex flex-wrap">

<!--Grid-->
<div class="w-[100%] md:w-[50%] lg:w-[33%] md:mt-[0] mt-[2rem]  h-[430px]  flex justify-center items-center">
    <!--Card-->
    <div class="w-[80%] md:w-[75%] h-[65%] md:h-[80%] py-2 border-[2px] flex justify-end flex-col items-center relative">
        
        <!--Image-->
        <img src="{% static 'aboutus/linkedinAli.jfif' %}" class="w-[auto] md:h-[330px] h-[270px] absolute top-[-10rem]  object-cover" />
        
        <!--Icons-->
        <div class="w-[50%] flex justify-around items-center absolute top-[8rem]  md:top-[11.5rem]">
            <a href="mailto:your-email@gmail.com" class="md:w-[45px] md:h-[45px] w-[37px] h-[37px] rounded-[100%] bg-[white] flex justify-center items-center"><img src="{% static 'logo/gmail.jpg' %}" class=" w-[auto] h-[45%] md:h-[50%]"/></a>
            <a href="mailto:your-email@gmail.com" class="md:w-[45px] md:h-[45px] w-[37px] h-[37px] rounded-[100%] bg-[white] flex justify-center items-center"><img src="{% static 'logo/linkedin.jpg' %}" class=" w-[auto] h-[45%] md:h-[50%]"/></a>
            <a href="mailto:your-email@gmail.com" class="md:w-[45px] md:h-[45px] w-[37px] h-[37px] rounded-[100%] bg-[white] flex justify-center items-center"><img src="{% static 'logo/telegram.jpg' %}" class=" w-[auto] h-[45%] md:h-[50%]"/></a>
        </div>

        <div class='w-[100%] h-[44%] md:h-[23%]  py-1 md:py-3 flex justify-center flex-col text-center'>
           <p class="font-[yekanBakhtBold] text-[31px] text-[white]">علی زمانیان</p>
           <p class="font-[yekanBakht] text-[19px] text-[white]"> Full-Stack Developer </p>
        </div>

    </div>

</div>


<!--Grid-->
<div class="w-[100%] md:w-[50%] lg:w-[33%] md:mt-[0] mt-[2rem]  h-[430px]  flex justify-center items-center">
    <!--Card-->
    <div class="w-[80%] md:w-[75%] h-[65%] md:h-[80%] py-2 border-[2px] flex justify-end flex-col items-center relative">
        
        <!--Image-->
        <img src="{% static 'aboutus/linkedinAli.jfif' %}" class="w-[auto] md:h-[330px] h-[270px] absolute top-[-10rem]  object-cover" />
        
        <!--Icons-->
        <div class="w-[50%] flex justify-around items-center absolute top-[8rem]  md:top-[11.5rem]">
            <a href="mailto:your-email@gmail.com" class="md:w-[45px] md:h-[45px] w-[37px] h-[37px] rounded-[100%] bg-[white] flex justify-center items-center"><img src="{% static 'logo/gmail.jpg' %}" class=" w-[auto] h-[45%] md:h-[50%]"/></a>
            <a href="mailto:your-email@gmail.com" class="md:w-[45px] md:h-[45px] w-[37px] h-[37px] rounded-[100%] bg-[white] flex justify-center items-center"><img src="{% static 'logo/linkedin.jpg' %}" class=" w-[auto] h-[45%] md:h-[50%]"/></a>
            <a href="mailto:your-email@gmail.com" class="md:w-[45px] md:h-[45px] w-[37px] h-[37px] rounded-[100%] bg-[white] flex justify-center items-center"><img src="{% static 'logo/telegram.jpg' %}" class=" w-[auto] h-[45%] md:h-[50%]"/></a>
        </div>

        <div class='w-[100%] h-[44%] md:h-[23%]  py-1 md:py-3 flex justify-center flex-col text-center'>
           <p class="font-[yekanBakhtBold] text-[31px] text-[white]">علی زمانیان</p>
           <p class="font-[yekanBakht] text-[19px] text-[white]"> Full-Stack Developer </p>
        </div>

    </div>

</div>



<!--Grid-->
<div class="w-[100%] md:w-[50%] lg:w-[33%] md:mt-[0] mt-[2rem]  h-[430px]  flex justify-center items-center">
    <!--Card-->
    <div class="w-[80%] md:w-[75%] h-[65%] md:h-[80%] py-2 border-[2px] flex justify-end flex-col items-center relative">
        
        <!--Image-->
        <img src="{% static 'aboutus/linkedinAli.jfif' %}" class="w-[auto] md:h-[330px] h-[270px] absolute top-[-10rem]  object-cover" />
        
        <!--Icons-->
        <div class="w-[50%] flex justify-around items-center absolute top-[8rem]  md:top-[11.5rem]">
            <a href="mailto:your-email@gmail.com" class="md:w-[45px] md:h-[45px] w-[37px] h-[37px] rounded-[100%] bg-[white] flex justify-center items-center"><img src="{% static 'logo/gmail.jpg' %}" class=" w-[auto] h-[45%] md:h-[50%]"/></a>
            <a href="mailto:your-email@gmail.com" class="md:w-[45px] md:h-[45px] w-[37px] h-[37px] rounded-[100%] bg-[white] flex justify-center items-center"><img src="{% static 'logo/linkedin.jpg' %}" class=" w-[auto] h-[45%] md:h-[50%]"/></a>
            <a href="mailto:your-email@gmail.com" class="md:w-[45px] md:h-[45px] w-[37px] h-[37px] rounded-[100%] bg-[white] flex justify-center items-center"><img src="{% static 'logo/telegram.jpg' %}" class=" w-[auto] h-[45%] md:h-[50%]"/></a>
        </div>

        <div class='w-[100%] h-[44%] md:h-[23%]  py-1 md:py-3 flex justify-center flex-col text-center'>
           <p class="font-[yekanBakhtBold] text-[31px] text-[white]">علی زمانیان</p>
           <p class="font-[yekanBakht] text-[19px] text-[white]"> Full-Stack Developer </p>
        </div>

    </div>

</div>





</div>


</div>