{%load website_tags %}
{%load static %}
{% load humanizelib %}
<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <title>News Site Layout</title>  
    <link href="{% static 'css/direction.css'%}" rel="stylesheet">
    <!-- AOS CSS -->  
    <link href="{% static 'css/aos.css'%}" rel="stylesheet">
    <link href="{% static 'css/global.css'%}" rel="stylesheet">
    
    <script src="{% static 'js/tailwind.js'%}"></script>  
   
</head>  
<body class="relative font-sans " > 


     <!-- Menu -->
     <div class="fixed top-0 z-[10] w-[100%] h-[auto] " >

        <header class="flex justify-between items-center p-4 bg-gray-100 shadow-md transition delay-75">
             <div class="text-xl font-bold text-gray-800">NFLUENCE</div>
             <nav class="hidden md:flex space-x-4 ">
                 <a href="#" class="hover:text-[#EF4444] text-gray-800 uppercase text-sm font-bold">Services</a>
                 <a href="#" class="hover:text-[#EF4444] text-gray-800 uppercase text-sm  font-bold">Workshops</a>
                 <a href="#" class="hover:text-[#EF4444] text-gray-800 uppercase text-sm  font-bold">Resources</a>
           </nav>
             <button class="md:hidden text-2xl" id="menu-toggle">
                 <!-- Hamburger icon -->
                 <span id="hamburger-icon" class="block">☰</span>
                 <!-- Close icon -->
                 <span id="close-icon" class="hidden">×</span>
             </button>
         </header>
     
         <nav class="hidden flex-wrap items-center bg-gray-100 p-4 md:hidden  h-[auto]" id="mobile-nav">
             <a href="#" class="hover:text-[#EF4444] text-gray-800 uppercase text-sm  h">Services</a>
             <br> 
             <a href="#" class="hover:text-[#EF4444] text-gray-800 uppercase text-sm  h">Workshops</a>
             <br> <a href="#" class="hover:text-[#EF4444] text-gray-800 uppercase text-sm  h">Resources</a>
         </nav>
     
     
         </div>
      
        
         <!-- Menu -->  
{% include "message.html" %}

{% block content %}

{% endblock content %}



{% footer%}


<script  src="{% static 'js/menu.js '%}"></script>  
<script  src="{% static 'js/aos.js' %}"></script>  
<script type="text/javascript" src="{% static 'js/global.js' %}"></script>  

</body>  
</html>