{%load static %}
{% load humanizelib %}
<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <title>News Site Layout</title>  
    <link href="{% static 'css/direction.css'%}" rel="stylesheet">
    <!-- AOS CSS -->  
    <link href="{% static 'css/aos.css'%}" rel="stylesheet">
    <link href="{% static 'css/global.css'%}" rel="stylesheet">
    
    <script src="{% static 'js/tailwind.js'%}"></script>  
   
</head>  
<body class="relative font-sans " > 


     <!-- Menu -->
     <div class="fixed top-0 z-[10] w-[100%] h-[auto] " >

        <header class="flex justify-between items-center p-4 bg-gray-100 shadow-md transition delay-75">
             <div class="text-xl font-bold text-gray-800">NFLUENCE</div>
             <nav class="hidden md:flex space-x-4 ">
                 <a href="#" class="hover:text-[#EF4444] text-gray-800 uppercase text-sm font-bold">Services</a>
                 <a href="#" class="hover:text-[#EF4444] text-gray-800 uppercase text-sm  font-bold">Workshops</a>
                 <a href="#" class="hover:text-[#EF4444] text-gray-800 uppercase text-sm  font-bold">Resources</a>
           </nav>
             <button class="md:hidden text-2xl" id="menu-toggle">
                 <!-- Hamburger icon -->
                 <span id="hamburger-icon" class="block">☰</span>
                 <!-- Close icon -->
                 <span id="close-icon" class="hidden">×</span>
             </button>
         </header>
     
         <nav class="hidden flex-wrap items-center bg-gray-100 p-4 md:hidden  h-[auto]" id="mobile-nav">
             <a href="#" class="hover:text-[#EF4444] text-gray-800 uppercase text-sm  h">Services</a>
             <br> 
             <a href="#" class="hover:text-[#EF4444] text-gray-800 uppercase text-sm  h">Workshops</a>
             <br> <a href="#" class="hover:text-[#EF4444] text-gray-800 uppercase text-sm  h">Resources</a>
         </nav>
     
     
         </div>
      
        
         <!-- Menu -->  
{% include "message.html" %}

{% block content %}

{% endblock content %}



<!-- Section4  -->
<footer class="bg-black text-white p-5 font-[yekanBakht]" style="direction:rtl">
    <div class="max-w-[100%] flex flex-wrap justify-between">
        <!-- Services Section -->
        <div class="flex-1 min-w-[200px] mb-5">
            <h3 class="text-red-500 border-b border-red-500 pb-2 mb-4 font-[yekanBakhtBold] text-2xl">خبرها</h3>
            <ul>
                <li class="mb-2"><a href="#" class="hover:underline">فوری</a></li>
                <li class="mb-2"><a href="#" class="hover:underline">اقتصادی</a></li>
                <li class="mb-2"><a href="#" class="hover:underline">سلامت</a></li>
                <li class="mb-2"><a href="#" class="hover:underline">علمی</a></li>

            </ul>
        </div>

        <!-- Portfolio Section -->
        <div class="flex-1 min-w-[200px] mb-5">
            <h3 class="text-red-500 border-b border-red-500 pb-2 mb-4 font-[yekanBakhtBold] text-2xl">تگ ها</h3>
            <ul>
                <li class="mb-2"><a href="#" class="hover:underline">زیبا</a></li>
                <li class="mb-2"><a href="#" class="hover:underline">جذاب</a></li>
                <li class="mb-2"><a href="#" class="hover:underline">خلاق</a></li>
            </ul>
        </div>

        <!-- Contact Section -->
        <div class="flex-1 min-w-[200px] mb-5">
            <h3 class="text-red-500 border-b border-red-500 pb-2 mb-4 font-[yekanBakhtBold] text-2xl">ارشیو ها</h3>
            <p>Call us: +27 (0)41 365 4919</p>
        </div>

        <!-- Stay Connected Section -->
        <div class="flex-1 min-w-[200px] mb-5">
            <h3 class="text-red-500 border-b border-red-500 pb-2 mb-4 font-[yekanBakhtBold] text-2xl">خبرگذاری</h3>
            <div class="flex space-x-3 text-2xl mb-5" style="direction:ltr">
                <a href="#" aria-label="Facebook" class="hover:underline">T</a>
                <a href="#" aria-label="Twitter" class="hover:underline">I</a>
                <a href="#" aria-label="LinkedIn" class="hover:underline">T</a>
                <a href="#" aria-label="Instagram" class="hover:underline">R</a>
                <a href="#" aria-label="Pinterest" class="hover:underline">N</a>
                <a href="#" aria-label="YouTube" class="hover:underline">O</a>
            </div>
          
        </div>
    </div>

    <div class="max-w-[100%] mx-auto mt-5">
        <div class="flex-1 min-w-[200px] mb-5">
            <h3 class="text-red-500 border-b border-red-500 pb-2 mb-4 font-[yekanBakhtBold] text-2xl">راه ارتباطی با ما</h3>
            <p>تماس : <bdi>+98 991 740 3979</bdi></p>
            <p>ایمیل : <bdi>alizamaniandev@gmail.com</bdi></p>
        </div>
    </div>

    <!-- Copyright Section -->
    <div class="text-center mt-5 border-t border-gray-700 pt-5">
        <p>&copy; این صفحه توسط علی زمانیان نوشته شده است | <a href="#" class="hover:underline">Privacy</a></p>
    </div>
</footer>



<script  src="{% static 'js/menu.js '%}"></script>  
<script  src="{% static 'js/aos.js' %}"></script>  
<script type="text/javascript" src="{% static 'js/global.js' %}"></script>  

</body>  
</html>