{% load static %}
{% load website_tags %}

<section class="mb-8">
    <div class="flex text-[black] ml-2px flex flex-col h-auto mb-4">
      <h3 class="text-xl font-bold mb-4 w-100">Search News</h3>
      <form action="" method="GET">
      <input
        class="bg-[transparent] 
        border-solid border-2 border-[#d1d5db] py-2 pl-2 rounded-[5px] outline-none w-[100%]"
        type="text"
        value=""
        name="q"
        placeholder="Searching news title or any detail on news ..."
      /></form>
    </div>

    {% recent_news %}
  </section>